<div class="main">
  <% @initial_contents.each do |content| %>
    <div class="content">
      <%=content.description %>
      <%= simple_form_for ([ content, user_view ], remote: true), url: user_views_path, :method => :post do |f| %>
        <%= f.button :submit, 'Create a View'%>
      <% end %>
    </div>
  <% end %>
</div>
