<% if @content.file.content_type.include?("image") %>
<%= cl_image_tag @content.file.key %>
<% else %>
<%= cl_video_tag @content.file.key,  transformation: [
    height:360, width:480, crop:"pad"], controls:true %>
<% end %>

<div id= "comments">
<% if @comments.blank? %>
     Leave your comment
  <% else %>
  <% @comments.each do |comment| %>
  <%= render 'comments/show', comment: comment %>
  <% end %>
<% end %>
</div>


<%= render 'comments/form', content: @content, comment: @comment %>










