<%= simple_form_for([content, comment], remote: true) do |f| %>
  <div class= "commentForm">
    <div class="commentForm__input">
      <%= f.input_field :description, :input_html => {:rows => 5}, label: false,
        class: "form-control",
        placeholder: "Give your answer"
      %>
    </div>
    <div class="commentForm__icon">
      <%= icon('fas', 'comment-alt')  %>
    </div>
    <div class="commentForm__submit --inactive">
      <%= f.submit "Comment", id: "commentForm__submit"%>
    </div>
  </div>
<% end %>
