<div class="content__comment">
  <div class="content__comment__author">
    Posted by <%= comment.user.email %>
  </div>
  <div class="content__comment__description">
    <%= comment.description %>
  </div>
  <div class="content__comment__more" data-modal-target="#modal" id="<%= comment.id %>">
    See all answers (<%= comment.content.comments.count %>)
  </div>
</div>
