<%= form_tag root_path, remote: true, method: :get do %>
  <div class= "searchBar">
    <div class="searchBar__input">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search a topic"
      %>
    </div>
    <div class="searchBar__icon">
      <%= icon('fas', 'search') %>
    </div>
    <div class="searchBar__submit --inactive">
      <%= submit_tag "Search", id: "search-bar-submit"%>
    </div>
  </div>
<% end %>
