@import "../abstracts/variables";
@import "../abstracts/mixins";

.navbar{
  background: $primary-color;
  @include border-shadow;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  @include padding-horizontal($gutter-size);
  text-align: center;
  color: $text-color;
  &__logo{
    @include typography($color: $text-color, $font-size: $navbar-font-size, $font-weight: bold);
  }
  &__icons{
    display: flex;
    justify-content: space-between;
    &__icon{
      @include typography($color: $text-color, $font-size: $navbar-font-size);
      opacity: 0.9;
      .fas{
        margin: 0;
        margin-right: $gutter-size * 0.5
      }
    }
  }
}
