@import "../abstracts/variables";
@import "../abstracts/mixins";

.navbar{
  background: $primary-color;
  @include border-shadow;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  @include padding-horizontal($gutter-size);
  text-align: center;
  color: $text-color;
  &__logo{
    @include typography($color: $text-color, $font-size: $navbar-font-size, $font-weight: bold);
  }
  &__icons{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    .fas{
      margin: 0;
      padding-right: $gutter-size * 0.4;
      &.fa-search{
        padding: 0;
      }
    }
  }
  a{
    color: $text-color;
  }
}
