@import "../abstracts/variables";
@import "../abstracts/mixins";

.alert {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  width: 100%;
  text-align: center;
  border-radius: $border-radius;
  @include border-shadow;
  color: $secondary-color;
  background-color: $primary-color;
  border-color: $secondary-color;
  position: fixed;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
