@import "../abstracts/variables";
@import "../abstracts/mixins";

.content{
  max-width: 100%;
  border: none;
  margin-top: 60px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__img{
    object-fit: cover;
    width: 100%;
    height: 380px;
    &:hover{
      opacity: $hover-opacity;
    }
  }
  &__place{
    @include typography($font-size: $small-font-size, $color: $soft-text-color);
  }
  &__comments{
    margin-right: $gutter-size * 0.5;
    margin-left: $gutter-size * 0.5;
  }
  &__info{
    border-radius: $border-radius;
    padding: $gutter-size * 0.5;
    &.--comment{
      padding: $gutter-size * 0.5;
      border-radius: $border-radius;
      margin-bottom: $gutter-size * 0.33;
      height: 80px;
      overflow: hidden;
      background: rgba(238, 238, 238, 0.5);
      @include border-shadow($x:0, $y:0, $z:3px, $color: rgba(0,0,0,0.2));
    }
    &__author{
      width: 100%;
      @include typography($font-size: $small-font-size, $color: $soft-text-color);
    }
    &__description{
      @include typography($font-size: $small-font-size);
    }
    &__title{
      @include typography($font-size: $small-font-size);
    }
    p{
      margin-bottom: 0px;
    }
  }
}
