@import "../abstracts/variables";
@import "../abstracts/mixins";

.commentForm{
  display: flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  &__input{
    width: 100vw;
    .form-control {
      border: 1px solid $soft-text-color;
      border-radius: $border-radius;
      padding: 0 $gutter-size * 0.25;
    }
  }
  &__icon{
    position: absolute;
    right: $gutter-size * 1.25;
    margin-top: 1px;
  }
}
