.comment{
  margin-bottom: $gutter-size * 0.40;
  background: $transparent-bg-color;
  padding: $gutter-size * 0.33;
  border-radius: $border-radius;
  &__author{
    @include typography($font-size: $small-font-size, $color: $soft-text-color);
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  &__description{
    @include typography($font-size: $base-font-size);
    padding-right: $gutter-size * 0.75;
  }
  &__more{
    padding-left: $gutter-size * 0.33;
  }
  a{
    color: $soft-text-color;
  }
}
