@import "../abstracts/variables";
@import "../abstracts/mixins";

.content{
  max-width: 100%;
  border: none;
  height: calc(100vh - 60px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  vertical-align: top;
  position: fixed;
  flex-grow: 1;
  &__media{
    &__file{
      object-fit: cover;
      width: 100%;
      height: 50vh;
    }
  }
  &__content{
    flex-grow: 1;
    background: $primary-color;
    overflow: scroll;
    padding: $gutter-size * 0.5;
    @include margin-horizontal($gutter-size * 0.33);
    &__form{
      &__inputs{
        display: flex;
        justify-content: space-around;
        .form-control{
          height: 7vh;
          border-radius: $gutter-size * 2;
        }
      }
      &__text{
        @include typography($font-size: $title-font-size);
        margin-bottom: $gutter-size * 0.5;
        text-align: center;
      }
      .form-group{
        width: 80%;
      }
    }
  }
  &__comment{
    padding-bottom: $gutter-size * 0.5;
    margin-bottom: $gutter-size * 0.25;
    border-bottom: 1px solid $border-color;
    &__author{
      width: 100%;
      @include typography($font-size: $small-font-size, $color: $soft-text-color);
    }
    &__description{
      @include typography($font-size: $small-font-size);
      margin-bottom: $gutter-size * 0.33;
    }
    &__icon{
      margin-right: $gutter-size * 0.33;
      text-align: center;
      color: $soft-text-color;
    }
    i{
      color: $soft-text-color;
      margin-top: 2px;
    }
  }
  &__labels{
    display: flex;
    &__label{
      @include padding-horizontal($gutter-size * 0.2);
      @include padding-vertical($gutter-size * 0.1);
      border-radius: $border-radius;
      margin-bottom: $gutter-size * 0.33;
      margin-right: $gutter-size * 0.2;
      background: $container-color;
      @include border-shadow($x:0, $y:0, $z:3px, $color: rgba(0,0,0,0.2));
      width: fit-content;
    }
  }
  p{
    margin-bottom: 0;
  }
  &__buttons{
    display: none;
    transform: scale(0);
  }
}
