@import "../abstracts/variables";
@import "../abstracts/mixins";

.modal{
  transform: scale(0);
  transition: 200ms ease-in-out;
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  background: $white;
  display: block;
  padding: $gutter-size;
  word-break: break-word;
  overflow: scroll;
  &__close{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  &__title{
    @include typography($font-size: $title-font-size);
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    vertical-align: middle;
    margin-bottom: $gutter-size * 0.5;
  }
  &__comment{
  }
  &__form{
    margin-bottom: $gutter-size * 0.5;
  }
  &.active{
    opacity: 0.95;
    transform: scale(1);
  }
}
